*{
    margin: 0;
    text-decoration: none;
    /*seletor universal
    as regras serão aplicadas as TODAS as tags*/
}
span{
    background-color: aqua;
    color: red;
    /*seletor de tag
    as regras seão aplicadas as TODAS as tags do seletor
    no exemplo a todos os spans*/
}
.minhaClasse{
    background-color: blueviolet;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    /*seletor de classe
    as regras serão aplicadas a TODAS as tags que possuem a classe
    exemplo: todas as tags que possuiem o minhaClasse
    */
}
#meuBotao{
    background-color: aquamarine;
    margin: 15px;
    color: brown;
    padding: 25px;
    border: 0;
    /*seletor de ID
    as regras serão aplicadas somente a tag que possuir aquele ID*/
}
#meuBotao:hover{
    cursor: pointer;
    zoom: 1.5;
}